RewriteEngine On
RewriteBase /forked.stikked.git
RewriteCond $1 !^(captcha)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
    # If we don't have mod_rewrite installed, all 404's
ErrorDocument 404 /index.php
